<?xml version="1.0"?>
<!--
/**
 * Copyright © DMLab. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dmlab_admin_scim>
            <general>
                <enabled>0</enabled>
            </general>
        </dmlab_admin_scim>
    </default>
</config>
